.greetings {
    margin-left: 300px;
}

.register {
    margin-top: -45px;
    margin-left: 1368px;
}

.info {
    margin-top: -490px;
    margin-left: 960px;
}
.login {
    margin-top: -43px;
    margin-left: 1224px;
}

.wish {
    margin-top: -244px;
    margin-left: 630px;
}

.info2 {
    margin-top: -250px;
}
