.loginpanel {
    margin-left: 400px;
}

.passemail {
    margin-left: 118px;
}

.forgot {
    margin-left: 250px;
}

.buttonlogin {
    margin-left: 255px;
    margin-top: -10px;
}

.infopss {
    margin-left: 600px;
}
.passengeremail {
    margin-left: 240px;
    margin-top: -25px;
}

.passengerpassword {
    margin-left: 120px;
  
}

.password {
    margin-left: 240px;
    margin-top: -25px;
}